header {
    background-color: #73cbed;
    width: 100vw;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  header a {
    
    font-size: 4rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
  }